<%-include("header")-%>
<div class="box" id="heading">

    <h1><%= currentDay%></h1>
</div>
    <div class="box">
        
        
            
            <!-- <%//for(let i = 0; i<items.length;i++){%> -->
                <%items.forEach((singleItem)=>{%>
                <div class="item">
                    <span style="margin-left:15px ;">:</span>
                    
                        
                        <input type="checkbox" id="check">
                    
                    <p><%=singleItem.title%></p>
                </div>
                    <%});%>
            
                <form class="item" action="/" method="post">
                    <input type="text" name="todo" placeholder="Enter a todo" autocomplete="off">
                    <button type="submit" name="button ">+</button>
                </form>
    </div>
    <!-- <a href="/about" style="background-color:;>About</a> -->
<%-include("footer")-%>